  
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color:white;
    min-height:100vh;
    font-size: large;
}